<!-- <app-sibling1></app-sibling1>
<hr>
<app-sibling2></app-sibling2> -->

<!-- <app-http-comp></app-http-comp> -->
<!-- <app-forms></app-forms> -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- Step 6 : Adding router Outlet  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="features"
          [routerLinkActive]="['active']"
          >Features</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing" [routerLinkActive]="['active']"
          >Pricing</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" [routerLinkActive]="['active']"
          >About</a
        >
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
  <p class="lead">
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis
    mollis, est non commodo luctus.
  </p>
</footer>
